.main-screen {
  max-width: 1600px;
  height: 650px;
  display: flex;
}

.slider {
  position: relative;
  display: flex;
}

.slider img {
  min-width: 780px;
}

.hidden {
  display: none;
}

.rightField {
  position: relative;
  display: flex;
}

.content {
  background-color: #313232;
  padding: 80px 40px 60px 130px;
}

.title {
  max-width: 650px;
}

.content h1 {
  font-size: 67px;
  line-height: 95%;
  letter-spacing: -0.03em;
  margin-bottom: 60px;
}

.content p {
  font-size: 16px;
  line-height: 140%;
}

.titleHeading {
  color: #ffffff;
}

.titleNumber {
  color: #fec110;
}

.hoursWork {
  margin-bottom: 10px;
}

.x1 {
  color: #989898;
}
.x2 {
  color: white;
}

.markup {
  display: flex;
}

.markup {
  margin-top: 530px;
  margin-left: 40px;
}

.btnLookServices {
  background-color: #fec110;
  border-radius: 7px;
  margin-right: 150px;
  margin-top: 23px;
  gap: 10px;
  padding: 20px 40px;
  font-size: 13px;
  line-height: 125%;
}

.btnLookServices :hover {
  background-color: #313232;
  color: white;
}

.main-screen {
  display: flex;
}

.leftField {
  width: 820px;
  height: 650px;
}

/* Правая часть */
.rightField {
  position: relative;
}

.sliderNumber {
  position: absolute;
  right: 1px;
  bottom: 68px;
  color: #ffffff;
  font-size: 38px;
  line-height: 110%;
  margin: 10px 130px auto auto;
}

.btnMainScreen {
  position: absolute;
  display: flex;
  left: 40px;
  bottom: 30px;
}

.btnMainScreen .btnLeft {
  margin-right: 5px;
}

.markup button {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 5px;
}

.btnMainScreen .btnLeft {
  background-color: #fec110;
}
.btnMainScreen .btnRight {
  background-color: #fec110;
}
