.reviews {
  background: #313232;
  margin-top: 180px;
  position: relative;
}

.containerReviews {
  margin-top: 180px;
}

.positionComments {
  margin: 0px 130px;
  display: flex;
  justify-content: flex-end;
}

.visitorsReviews {
  border-bottom: 1px solid #b6b6b6;
  display: flex;
  padding-top: 180px;
  justify-content: space-between;
}

.visitorsReviews h1 {
  font-size: 67px;
  line-height: 95%;
  color: #ffffff;
  margin-bottom: 60px;
}

.visitorsReviews h2 {
  font-size: 90px;
  line-height: 90%;
  color: #fec110;
  letter-spacing: -0.04em;
  margin-left: 40px;
}

.visitorsReviews h3 {
  font-size: 12px;
  line-height: 200%;
  text-align: right;
  color: #989898;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.person {
  padding: 18px;
  border-radius: 30px;
  border: 1.5px solid white;
  background-color: white;
}

.boxCardComments {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
}

.personaComments {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  gap: 15px;
}

.personaComments h4 {
  font-size: 21px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #ffffff;
}

.personaComments p {
  font-size: 14px;
  line-height: 140%;
  color: #989898;
}

.arrowComments button {
  color: #ffffff;
}

.commentsVisitors h3 {
  max-width: 880px;
  height: 170px;
  margin-top: 40px;
  margin-bottom: 490px;
  justify-content: right;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #ffffff;
}
