.consultation {
  max-width: 1600px;
  height: 690px;
}

.consultation {
  position: absolute;
  width: 100%;
  bottom: 0px;
  background: url(../img/consultationBG.jpg) no-repeat;
}

.containerConsultation {
  border-top: 1px solid #b6b6b6;
}

.getConsultation {
  font-weight: 700;
  font-size: 12px;
  line-height: 200%;
  color: #ffffff;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-top: 10px;
}

.boxConsultation {
  display: flex;
  justify-content: end;
}

.contentConsultation {
  width: 650px;
  margin-top: 60px;
}

.contentConsultation h2 {
  color: #ffffff;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
}

.contentConsultation button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 7px;
  padding: 10px 30px 10px 30px;
  font-size: 16px;
  line-height: 125%;
}
