.mobileApp {
  background: #fec110;
  padding-left: 130px;
}

.containerMobileapp {
  display: flex;
  justify-content: space-between;
  padding: 0 130px;
}

.mobileappContent {
  margin-right: 150px;
  margin-top: 30px;
  width: 400px;
}

.mobileappContent h3 {
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: #2c2c2c;
  margin-bottom: 20px;
}

.mobileappContent p {
  font-weight: 700;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.mobileappContent img {
  margin-right: 15px;
}

.imagePhone {
  position: relative;
  /* padding-left: 130px; */
  width: 410px;
  height: 180px;
}

.imagePhone .iphone1 {
  position: absolute;
  bottom: 0px;
  z-index: 2;
}
.imagePhone .iphone2 {
  position: absolute;
  bottom: 0px;
  z-index: 3;
  transform: translateX(40%);
}

.frameLinks {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 18px;
}
