/* Header */

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffffff;
}

.headerNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  min-width: 164px;
  min-height: 60px;
  margin: auto 130px auto;
}

.navList {
  display: flex;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  column-gap: 40px;
}

.navItem:first-child {
  margin-right: 45px;
}

.rightSide {
  display: flex;
  justify-content: space-between;
}
