@font-face {
    font-family: 'Arial Nova';
    src: url('ArialNova-Bold.eot');
    src: local('Arial Nova Bold'), local('ArialNova-Bold'),
        url('ArialNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('ArialNova-Bold.woff2') format('woff2'),
        url('ArialNova-Bold.woff') format('woff'),
        url('ArialNova-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Arial Nova';
    src: url('ArialNova.eot');
    src: local('Arial Nova'), local('ArialNova'),
        url('ArialNova.eot?#iefix') format('embedded-opentype'),
        url('ArialNova.woff2') format('woff2'),
        url('ArialNova.woff') format('woff'),
        url('ArialNova.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

